@charset "utf-8";
/* CSS Document */
body{
	background: #95002A url(../images/background.png);
	font-family: 'Hammersmith One', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}

#top-line{
	background: #500015;
	height: 5px;
}

#header{
	background: #e2d1bd;
	width: 1000px;
	height: 110px;
	margin: 0 auto;
	border: 1px solid #E2D1BD;
	border-radius: 5px 5px 0px 0px;
	opacity:0.93;
	
}

#myphoto{
	position: relative;
	background: url(../images/photo.png) center left no-repeat ;
	width: 100px;
	height: 110px;
	display: block;
	float: left;
	opacity:1;
}

#top-menu{
	width: 400px;
	hight: 33px;
	float: right;
	display: table-cell;
	vertical-align: middle;
	background: #95002a; 
	border-radius: 0 0 3px 3px;
	box-sizing:border-box;
	padding: 0, 7px;
}

#top-menu a{
	color: #e2d1bd;
	margin:0 6px;

}

#top-menu a:hover{
	text-decoration: underline;
	
}

.top-menu-line{
	width: 1px;
	height: 16px;
	background: #e2d1bd;
	display: inline-block;
}

#tntu{
	display: inline-block;
	width: 500px;
	height: 60 px;
	float: left;
	position: absolute;
	overflow-x:hidden;
	text-align: center;
	color: #500015;
	opacity:1;
}

#personal-page{
	position: relative;
	left: 0px;
	top: 70px;
	display: inline-block;
	width: 500px;
	height: 50 px;
	opacity: 1;
	text-align: left;
	overflow-x:hidden;
	color: #95002a;
	
	
}

#logo-tntu{
	position: relative;
	left:500px;
	top: -20px;
	display: inline-block;
	width: 100px;
	height: 90px;
	background: url(../images/tntu-logo.png) center left no-repeat ;
	float: left;
}

#logo-fis{
	position: relative;
	left:500px;
	top: -20px;
	display: inline-block;
	width: 100px;
	height: 90px;
	background: url(../images/logo_fis.png) center left no-repeat ;
	float: left;
}
#logo-KN{
	position: relative;
	left:500px;
	top: -20px;
	display: inline-block;
	width: 100px;
	height: 90px;
	background: url(../images/KN_logoN.png) center left no-repeat ;
	float: left;
}

#content{
	width: 1002px;
	height: auto;
	margin: 0 auto;
	background: #95002A url(../images/content-background.jpg);
	box-shadow: 0px 5px 15px #FFF;
	padding: 5px 0px;
	opacity: 0.97;
}


#title-content{
	position: relative;
	width: 800px;
	heigth: 200px;
	text-align: center;
	color: #500015
	opacity: 1;
	display:inline-block;
}

#title-content-icon{
	position: relative;
	width:40px;
	height: 40px;
	background: url(../images/title-content-icon.png);
	display: inline-block;
}
#reklama4{
	position: relative;
	width: 200px;
	heigth: auto;
	display:block;
	opacity: 1;
	float:right;
	
}
#biografy-content{
	position: relative;
	width: 800px;
	heigth: 200px;
	background: #FFF;
	display:block;
	opacity: 0.85;
	color: #95002a;
}

#group-content{
	position: relative;
	width: 800px;
	heigth: 200px;
	background: #e0547c;
	display:block;
	opacity: 0.90;
	color: #FFF;
}

#hobby1{
	position: relative;
	width: 266px;
	heigth: 200px;
	background: #FFF;
	display:inline-block;
	opacity: 0.85;
	color: #95002a;
	text-align:center;
}

#hobby1-content-icon{
	width:50px;
	height: 50px;
	background: url(../images/hobby1-content-icon.png) center left no-repeat;
	display: block;
}
#hobby2{
	position: relative;
	width: 267px;
	heigth: 200px;
	background: #FFF;
	display:inline-block;
	opacity: 0.85;
	color: #95002a;
	text-align:center;
	float:left;
}
#hobby2-content-icon{
	width:50px;
	height: 50px;
	background: url(../images/hobby2-content-icon.png) center left no-repeat;
	display: block;
}
#hobby3{
	position: relative;
	width: 267px;
	heigth: 200px;
	background: #FFF;
	display:inline-block;
	opacity: 0.85;
	color: #95002a;
	text-align:center;
	float:left;
}
#hobby3-content-icon{
	width:50px;
	height: 50px;
	background: url(../images/hobby3-content-icon.png) center left no-repeat;
	display: block;
}
#interes1-content{
	position: relative;
	width: 800px;
	heigth: 200px;
	background: #FFF;
	display:block;
	opacity: 0.95;
	color: #95002a;
}
#interes2-content{
	position: relative;
	width: 800px;
	heigth: 200px;
	background: #FFF;
	display:block;
	opacity: 0.85;
	color: #95002a;
}
#interes3-content{
	position: relative;
	width: 800px;
	heigth: 200px;
	background: #FFF;
	display:block;
	opacity: 0.95;
	color: #95002a;
}

#reklama1{
	position: relative;
	width: 266px;
	heigth: 200px;
	display:inline-block;
	opacity: 0.85;
	color: #95002a;
	text-align:center;

}
#reklama2{
	position: relative;
	width: 267px;
	heigth: 200px;
	display:inline-block;
	opacity: 0.85;
	color: #95002a;
	text-align:center;
	float:left;
}
#reklama3{
	position: relative;
	width: 267px;
	heigth: 200px;
	display:inline-block;
	opacity: 0.85;
	color: #95002a;
	text-align:center;
	float:left;
}
.fb-comments{
        display: block;
        background: #FFF;
        box-shadow: 0px 5px 15px #FFF;
        
}
#footer{
	width:1000px;
	height: 70px;
	margin: 0 auto;
	background: #e2d1bd;
	border: 1px solid #E2D1BD;
	border-radius: 0px 0px 5px 5px;
	opacity:0.93;
	color: #500015;
}

	