.row div{
    background-color: #000;
    background-size: cover;
}

.textHeader{
    text-align: center;
    color: white;
    font-family: Fenice, Georgia, serif;
    font-size: 30px;

}

.imageJobs{
    display: block;
    margin:0 auto;
}

.textQuote{
    font-style: italic;
}

.textBiography{
    color: white;
    font-family: 'PT Serif', serif;
}

.textGroup{
    color: black;

}
