.row{
    margin: 40px 60px;
}
.background{
    background-color: #eeeeee;
    border-radius: 10px;
}

.textHead1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 63px;
    text-align: center;
}

.textHead2{
    font-size: 30px;
    text-align: center;
}

.figure-caption{
    text-align: center;
}

li{
    padding: 0;
    margin-left: 40px;
}

.quotation{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    padding: 0;
    margin-left: 40px;
    line-height: 30px;
}

.quotation1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin-left: 40px;
    line-height: 30px;
}

.detail{
    padding: 0;
    margin-left: 35px;
}

.line{
    margin: 0px 60px 20px;
    border: none; /* Убираем границу */
    background-color: #eeeeee; /* Цвет линии */
    height: 1px; /* Толщина линии */
}
